* {
    box-sizing: border-box;
}

.body {
    font-family: Montserrat;
}

.container {
    max-width: 1170px;
   

    /* border-bottom:1px solid black; */
    margin: 0 auto;

}
.container h2{
    font-weight: 800 ;
    font-size: 65px;
    padding-top: 150px;
}

.container h3{
    color: #A52424;
    font-weight: 800;
    font-size: 25px;
}

.box{
    border: 2px solid red;
    display: inline-block;

}
.img{
    border: 1px solid pink;
    width: 650px;
    height: 640px;
    background-position:right;
    display: inline-block;

}
.main-title h1 {
    font-weight: 800;
    font-size: 75px;
    color: #101010;
   

}


.main-title{
    display: inline-block;
}


.main-title p {
    font-weight: 600;
    font-size: 25px;
    color: #101010;
    padding-bottom: 60px;
    
}
    
    


.main-title a[href="#sign-up"] {
    text-decoration: none;
    width: 525px;
    height: 60px;
    font-weight: 500;
    font-size: 20px;
    color: #A52424;
    border: 1px solid #A52424;
    

}




.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu nav a {
    margin-left: 55px;
    text-decoration: none;
    color: #101010;
}


.number {
    color: #A52424;
    text-decoration: none;
}



.main-title {
    padding: 30px;
    border: 2px solid red;
    width: 400px;

}

.about{
    border: 1px solid gold;
}
h2{
 font-weight: 800;
 
}


.about__description {
    /* border: 2px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.about__photo__left {
    /* border: 2px solid blue; */
    width: 375px;
    padding: 30px 0 30px 150px;
    height: 560px;
    box-shadow: 0px 6px 10px #000;
}

.about__descr__right {
    width: 675px;
    padding: 20px;
    line-height: 70px;
    position: relative;
    font-weight: 400;
    font-size: 25px;

}

.about__descr__right::after {
    content: '';
    display: block;
    width: 500px;
    height: 330px;
    /* background-color: red; */
    /* border: 2px solid brown; */
    box-shadow: 0px 6px 5px #000;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
}


.portfolio h4{
    font-weight: 800;
    font-size: 65px;
}

.picture{
   display: flex;
   justify-content: space-between;
    
}



  
.bottom-site {
    display: flex;
    justify-content: space-between;
}

footer {
    border: 1px solid #000;
}

.socials {
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 190px;
    height: 30px;

}

.socials a {
    width: 20px;
    height: 20px;
    /* background-color: lightgray; */
    background-position: center;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    width: 30px;
    height: 30px;

}


.inst {
    background-image: url("/img/instagram.png");
}

.fb {
    background-image: url("/img/fb\ 2.png");
}

.email {
    background-image: url("/img/Group.png");
    border: 1px solid black;
}

